[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A repository for storing and managing SSL certificates for Miraheze
[access "refs/*"]
	owner = group miraheze
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group miraheze
	label-Code-Review = -2..+2 group user/paladox
	label-Verified = -1..+1 group miraheze
	push = group miraheze
	read = group miraheze
	rebase = group miraheze
	removeReviewer = group miraheze
	submit = group miraheze
[access "refs/heads/*"]
	create = group miraheze
	push = group miraheze
	pushMerge = group miraheze
	read = group miraheze
[access "refs/tags/*"]
	push = group miraheze
